#main {
    /*background-color: rgba(76, 44, 0, 0.3);*/
    background-color: #f4f7b9;
    border-radius: 5px;
    width: 600px;
    height: 700px;
    position: relative;
}
#arrow-up {
    /*display: none;*/
    width: 150px;
    transform: rotate(270deg);
    border: 3px solid black;
    border-radius: 50%;
    background-color: green;
    padding: 10px;
    position: absolute;
    top: 230px;
    left: 215px;
    filter: invert(0%);
}

#arrow-left {
    /*display: none;*/
    width: 150px;
    left: 45px;
    top: 380px;
    transform: rotate(180deg);
    border: 3px solid black;
    border-radius: 50%;
    background-color: green;
    padding: 10px;
    position: absolute;
    filter: invert(0%);
}

#arrow-right {
    /*display: none;*/
    width: 150px;
    border: 3px solid black;
    border-radius: 50%;
    background-color: green;
    padding: 10px;
    top: 380px;
    right: 45px;
    position: absolute;
    filter: invert(0%);
}

#arrow-down {
    /*display: none;*/
    width: 150px;
    transform: rotate(90deg);
    border: 3px solid black;
    border-radius: 50%;
    background-color: green;
    padding: 10px;
    position: absolute;
    top: 520px;
    left: 215px;
    filter: invert(0%);
}

#enter {
   /*display: none;*/
    width: 150px;
    position: absolute;
    top: 5px;
    right: 5px;
}

#escape {
    /*display: none;*/
    width: 150px;
    position: absolute;
    left: 5px;
    top: 5px;
}

#pop-up {
    display: none;
    font-size: xx-large;
    position: absolute;
    top: 5px;
    left: 180px;
}
