body{
    overflow: hidden;
    background-color: #F2F2F2;
    margin: 0;
}

a {
    border: none;
    padding: 10px 15px;
    font-size: xx-large;
    margin: 10px;
    border: 4px solid rgba(0,0,0,0.25);
    color: #e3e3e3;
    text-decoration: none;
}

a:focus{
    outline: none;
    color: black;
    border: 4px solid rgba(0,0,0,0.25);
}

#red{
    background-color: #BF0000;
}
#red:focus{
    background-color: #f71d1d;
}

#green{
    background-color: #006000;
}

#green:focus{
    background-color: #00a100;
}

#blue{
    background-color: #0424BF;
}
#blue:focus{
    background-color: #284CFF;
}

#yellow{
    background-color: #BFBF00;
}
#yellow:focus{
    background-color: #FFFF00;
}

.buttons {
    display: flex;
    justify-content: center;
}

#title {
    font-size: xx-large;
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-top: 50px;
}

#popup_wrapper {
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    background-color: rgba(0,0,0,0.25);
    z-index: 22;
}

#popup_message {
    position: relative;
    background-color: #F2F2F2;
    margin-top: 100px;
    width: 500px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: xx-large;
    align-items: center;
    padding-top: 20px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

#try_again {
    width: 50%;
    color: black;
}

#try_again:focus{
    border: 4px solid darkred;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
